body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* CSS */
--midnight-blue: hsla(234, 78%, 44%, 1);
--royal-blue-dark: hsla(227, 74%, 35%, 1);
--champagne: hsla(35, 18%, 96%, 1);
--middle-red: hsla(10, 47%, 85%, 1);
--carnelian: hsla(0, 84%, 74%, 1);
